
<div class="row">
    <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>

    <div class="bg-white text-body">
        <div class="text-center display-3 syokuzai">鮎</div>
        <!--<img src="content/images/ayu.jpg">-->
        <p class="lead">鮎の天ぷら</p>
        <p class="lead">鮎は、きれいな水の中に生息する日本の代表的な川魚で、川底や岩肌に繁殖している良質な苔を食べているため、苔由来の独特の香りや味わいを愉しむことができます。天然鮎は資源保護のために11～5月の間は禁漁とされていて、初夏を迎えるとまず稚鮎が市場に出回り、そして6月に漁が解禁されると、天然鮎が日本料理店やレストランで提供されるようになり、7月になると、鮎がもっとも美味しく味わえる季節が訪れます。7月の天然鮎は骨まで柔らかく、塩焼きや天ぷらなどで丸ごと食すことができ、小さいながらも魅力的な味わい深さがあります。さぁ食べに出かけましょう。</p>
    </div>

</div>
